html{
  font-size: 62.5%;
}
  
body {
    background-image: url(https://images.unsplash.com/photo-1513880838915-3b5b17da4383?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
    background-size: 100% 100%;
    
  }
  *{
    color: cyan;
  }
  h1{
    font-family:Caveat;
    font-size: 6rem;
    padding: 5%;
  }
  
  .container {
    width: 600px;
    margin:5%;
  }
  
  .container nav a {
    margin: 0 10px;
    border:1px solid cyan;
    padding: 10px;
    display: flex row;
    justify:space-evenly;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 5%;
    font-size: 2rem;
    font-family:oswald; 
  }
  
  h2{
    padding:5%;
    font-family:Caveat;
    font-size:3rem;
  }
  h3{
    padding:5%;
    font-family:Caveat;
    font-size: 2rem;
  }
  
  .projects {
    width: 50%;
    margin:5%;
  }
  
  .projects {
    border:1px solid cyan;
    padding: 10px;
    display: flex row;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 5%;
    font-size: 2rem;
    font-family:oswald; 
  }
 

  img{
    border-radius: 50px;
    padding:5%;
  }

  .jellyfish{
    border-radius: 50%;
  }

   p{
    padding:5%;
    font-family:oswald;
    font-size: 2rem;
  }
  
  .content-row{
    display:flex;
  }
  
  .pics {
    display: flex;
    flex-wrap:wrap;
    font-family:oswald;
  }
  
  .contact {
    width: 50%;
    margin:5%;
    padding: 5%;
  }
  
  .contact {
    border:1px solid cyan;
    padding: 10px;
    display: flex row;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 10%;
    font-size: 2rem;
    font-family:oswald; 
    }
  footer{
    text-align:center;
    margin: 5%;
  }
  .social{
    font-size: 3rem;
    text-decoration: none;
    padding:2%
  }
  @media(max-width: 800px){
    .content-row {
      flex-direction: column-reverse;
    }
  }

  @media(max-width: 500px){
    .jellyfish{
      display:none;
    }
    img{
      border-radius: 50%;
    }
  }